.title-section{
	background-color: #ccc;
	line-height: 2em;
}

.title-section span{
	font-weight: bold;
}

.info-section{
	margin: 0px auto;	
}

.info-section table{
	width: 90%;
	margin:10px;
	border-collapse: collapse;
}


.info-section table td.text-title{
	text-align: right;
	padding: 5px 10px;
	border-bottom: 1px #ccc dotted;
	border-right: 1px #ccc dotted;
}

.info-section table td.text-content input{
	width:260px;
}
.info-section table td.text-content select{
	width:260px;
}
.info-section table td.text-content textarea{
	width:260px;
}



.info-section table td.text-content{
	text-align: left;
	border-bottom: 1px #ccc dotted;
	padding: 5px 10px;
}