<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.IUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.UserRole">

    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">

    delete from tb_user_role
    where user_id = #{userId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.entity.UserRole">

    insert into tb_user_role (user_id, role_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">

    select user_id, role_id
    from tb_user_role
  </select>
  
  <select id="findByUserId" resultMap="BaseResultMap">
  	select * from tb_user_role where user_id = #{userId}
  </select>
  
  <delete id="deleteByUserId" parameterType="int">
  	delete from tb_user_role where user_id = #{userId}
  </delete>
</mapper>